body { margin: 0; }
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
               "Segoe UI Emoji", "Segoe UI Symbol";
}
a {
    text-decoration: none;
    color: rgb(0, 122, 255);
}

h1 {
    font-size: 50px;
    margin: 20px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

.games-intro {
    margin: 30px 20px;
    max-width: 700px;

    line-height: 1.8em;
}

.games-key {
    margin: 20px;
    max-width: 400px;
    border-spacing: 0;
    border-collapse: collapse;
}

.games-key td:first-child {
    text-align: center;
}
.games-key td {
    border: 1px solid #CCC;
    padding: 5px;
}

.games-folder,
.games-filter {
    margin: 40px;
    padding: 10px;

    background-color: #EEE;
    border-radius: 20px;
}

.games-folder h2 {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;

    background-color: rgba(238, 238, 238, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 40px;
    text-align: center;
    letter-spacing: 15px;
    z-index: 1;
}

.games-list {
    margin: 0;
    padding: 0;

    list-style: none;
    text-align: center;
}

.games-list img {
    width: 80px;
}

.games-list li {
    display: inline-block;
    width: 100px;
    margin: 10px;
    position: relative;

    vertical-align: top;
    text-align: center;
}

.games-list-features {
    position: absolute;
    top: -65px;
    left: 0;

    width: 100%;
    height: 60px;

    border: 1px solid #CCC;
    border-radius: 10px;
    background-color: white;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease 0s, top 500ms ease 0s;
    z-index: 2;
}
.games-list li:hover .games-list-features {
    transition: opacity 500ms ease 1s, top 500ms ease 1s;
    opacity: 1;
    top: -70px;
}

.games-list li h3 {
    margin: 5px 0;

    font-size: 16px;
    font-weight: normal;
}

.games-filter {
    margin: 10px auto 40px auto;
    max-width: 300px;
    text-align: center;
}

.games-filter h2 {
    text-align: center;
}

.games-filter h3 {
    border-top: 1px solid #FFF;
    padding-top: 18px;
}

.games-filter ul {
    margin: auto;
    padding: 0;
    max-width: 250px;

    list-style: none;
}

.games-filter li {
    display: inline-block;
    padding-bottom: 10px;
}

.games-filter li label {
    margin: 0 10px;
    cursor: pointer;
}

.games-filter li input {
    position: relative;
    top: -2px;
    left: -2px;
}

.games-filter button {
    margin-top: 20px;
    font-size: 13px;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
    .games-folder,
    .games-filter {
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
    }
    .games-list li {
        margin: 5px;
        width: 60px;
    }
    .games-list img {
        width: 50px;
    }
    .games-list li h3 {
        margin: 5px 0;
        font-size: 10px;
    }
    .games-list-features {
        font-size: 12px;
    }
}


/**** Arrow for feature lists ****/

.games-list-features:after, .games-list-features:before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    
    border: solid transparent;
    height: 0;
    width: 0;

    pointer-events: none;
}
.games-list-features:after {
    border-width: 10px;
    margin-left: -10px;

    border-color: rgba(0, 0, 0, 0);
    border-top-color: #fff;
}
.games-list-features:before {
    border-width: 11px;
    margin-left: -11px;

    border-color: rgba(0, 0, 0, 0);
    border-top-color: #CCC;
}